################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Muzeu/.vs/Muzeu
/Muzeu/Muzeu/x64
/Muzeu/x64
